langchain
langchain-core
langchain-chroma
langchain-huggingface
langchain-ollama
chromadb
sentence-transformers
python-dotenv
pandas
requests
pydantic
streamlit
pytest
fastapi
uvicorn
langchain-groq